<!-- app/views/users/index.html.erb -->
<h1>Users</h1>

<% if @users.blank? %>
  <div class="alert alert-info">
    No hay usuarios disponibles.
  </div>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mensajes enviados</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.messages.count %></td>
          <td>
            <%= link_to "Show", user_path(user), class: "btn btn-sm btn-primary" %>
            <%= link_to "Edit", edit_user_path(user), class: "btn btn-sm btn-warning" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
